*
  box-sizing border-box

img
  width 100%

.app
    max-width 960px
    margin 0 auto

.book
  padding 8px
  .pure-menu-heading
    padding 0
    margin-top 8px

.pure-g
  .awesomplete
    width 100%
